<div class="main">
    <div class="card1">
        <img src="../../../assets/cart.png" style="margin-top: 37px;margin-left: 33px;width: 245px;
        height: 245px;border-radius: 100%;">
        <span class="card1-span">ONLINE BOOK SHOPPING</span>
    </div>
    <mat-card class="card2">
        <div style="display:flex;gap:100px;">
            <button routerLink="/login" class="btn1" mat-flat-button style="margin-top:22px;margin-left:22px;">LOGIN</button>
            <button class="btn1" mat-flat-button style="margin-top:22px;margin-right:22px;">SIGNUP</button>
            
        </div>
        <div style="margin-left:22px;margin-right:22px;margin-top:10px;">
            <form [formGroup] = "RegisterForm" (ngSubmit) = "onSubmit()" style="align-items: center;">
                <div style="display: flex; flex-direction:column;">
                    <span>FullName</span>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" class="input-field" formControlName="FullName" >
                        <mat-error>Enter full name</mat-error>
                    </mat-form-field>
                </div>
                <div style="display: flex; flex-direction:column;">
                    <span>Email Id</span>
                    <mat-form-field appearance="outline">
                        <input matInput  type="text" class="input-field" formControlName="EmailId">
                        <mat-error>Enter Email Id</mat-error>
                    </mat-form-field>
                </div>
                <div style="display: flex; flex-direction:column;">
                    <span>Password</span>
                    <mat-form-field appearance="outline">
                        <input matInput type="password" class="input-field" formControlName="Password">
                        <mat-error>Enter Password</mat-error>
                    </mat-form-field>
                </div>
                <div style="display: flex; flex-direction:column; margin-top: 0px;">
                    <span>Phone Number</span>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" class="input-field" formControlName="PhoneNo">
                        <mat-error>Enter Mobile</mat-error>
                    </mat-form-field>
                </div>
                <button class="buttons button-signup" >Signup</button>
            </form>
        </div>
    </mat-card>
</div>
